
@import 'github.css';

.first-entry {
    margin-top: var(--gap) !important;
    margin-bottom: var(--gap) !important;
    min-height: 200px !important;
}

.post-title {
    margin-bottom: 12px !important;
}

.header {
    padding-top: 16px !important;
}

/* Code block styling overrides */
.post-content pre {
    background: var(--code-block-bg) !important;
}

.post-content pre code {
    color: #1f2328 !important;
    display: block !important;
    background: none !important;
}

/* Enable proper GitHub theme background */
.chroma {
    background-color: var(--code-block-bg) !important;
}

:root {
    --code-block-bg: rgb(247, 248, 250) !important;
    --gap: 32px !important;
    --content-gap: 32px !important;
    --main-width: 880px !important;
}
